# Directories
.vs/
bin/
bin-intermediate/

# Files
*.user

# Vscode
.vscode/*

# glad binary build folders
SauropodEngine/vendor/Glad/bin/
SauropodEngine/vendor/Glad/bin-intermediate/

# imgui ini files

*imgui.ini
