[submodule "SauropodEngine/vendor/spdlog"]
	path = SauropodEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sauropod/vendor/GLFW"]
	path = Sauropod/vendor/GLFW
	url = https://github.com/TheCherno/glfw
