[submodule "SauropodEngine/vendor/spdlog"]
	path = SauropodEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SauropodEngine/vendor/glfw"]
	path = SauropodEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "SauropodEngine/vendor/imgui"]
	path = SauropodEngine/vendor/imgui
	url = https://github.com/Carl-Maxwell/imgui
